*{
    margin: 0;
    padding: 0
}
h1{
    margin-bottom: 85px;
    color: #000000; 
    font-size: 50px;
    text-align: center;
}	
div{
    border: 1px solid #000000;
}
#p1{
    background-color: #808080;
	width: 422px;
	height: 170px; 
    border: 2px solid #000000;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#p2{
    background-color: #808080;
	width: 422px;
	height: 170px; 
    border: 2px solid #000000;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#p3{
    background-color: #808080;
	width: 422px;
	height: 170px; 
    border: 2px solid #000000;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#content{
    box-sizing: border-box;	
    font-size: 19px;
    background-color: #808080;	
    padding: 40px 10px 14px 10px;
}

#id1{
    font-size: 19px;
    width: 150px;
    height: 30px;
    text-align: center;
    float:right;
    border:2px solid #000000; 
    background-color: #FFB6C1;
}

#id2{
    font-size: 19px;
    width: 150px;
    height: 30px;
    text-align: center;
    float:right;
    border:2px solid #000000; 
    background-color:#ff726f ;
}

#id3{
    font-size: 19px;
    width: 150px;
    height: 30px;
    text-align: center;
    float:right;
    border:2px solid #000000; 
    background-color:#fff9d8;
}
@media(min-width: 992px){
    #p1{
        width: 30%;
    }

    #p2 {
        width: 30%;
    }

    #p3{
        width: 30%;
    }
}
@media(min-width:768px) and (max-width: 991px){
    #p1,#p2 {
        width: 45%;
    }
    #content{
        padding: 10px 10px 14px 10px;
    }
    #p3,#header{
        margin-top:25px;
        width: 90%;
    }

}
@media(max-width: 767px){
    #p1,#p2,#p3{
        margin-top: 25px;
        width: 95%;
    }
    #content{
        margin-top: 25px;
        width: 95%;
        padding: 40px 10px 14px 10px;
    }
}
