body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
/*Header*/
#header-nav {
  background-color: #A9A9A9;
  border-radius: 0;
  border: 0;
}
/*brand name*/
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h1{
	font-weight: bold;
	margin-bottom: 85px;
	color: black; 
	font-size: 2.0em;
	text-align: center;
}	

#p1{
	background-color: gray;
	width:1100px;
	height: 450px; 
	border: 2px solid black;
	margin: 20px;
}
/*large devices only*/
@media(min-width: 992px){
	#p1{
		width: 95%;
		
	}
	#content{
		margin: 15px;
	}
}
/*Medium devices only*/
@media (min-width: 992px) and (max-width: 1199px){
	#p1{
		width: 95%;
		margin: 42px;
	}
	#content{
		margin: 15px;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#p1{
		width: 95%;
		margin: 15px;
	}
	#content{
		margin: 15px;
	}
}
/* Extra small devies only*/
@media (max-width: 767px){
	#p1{
		width: 90%;
		margin: 15px;
	}
	#content{
		margin: 15px;
	}
}